.App {
  background: rgb(183, 218, 196);
  background: linear-gradient(90deg,
      rgba(183, 218, 196, 0.9023984593837535) 0%,
      rgba(161, 209, 226, 1) 0%,
      rgba(13, 120, 176, 1) 100%,
      rgba(0, 212, 255, 1) 100%);
  

  .wizard-page {
    height: 100vh;
    background: #eaafc8;
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
    background: linear-gradient(to right, #eaafc8, #654ea3);
  
    .header {
      height: 60px;
      padding: 10px 40px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      .logo {
        height: 60px;
        width: auto;
        flex: 1;
      }
     
    }

    .wizard-wrap {
      margin: 50px auto;
      .title {
        margin: 30px 0;
      }
      .content {
        background: #eaafc8;
        .form-wrap {
          padding: 0 30px;
          background: #eaafc8;
          .form-label {
            margin: 15px 0;
            text-align: start;
            align-items: center;
            font-size: medium;
          }
        }

        .btn-step {
          float: right;
          margin: 20px;
        }

        .btn-back-step {
          float: left;
          margin: 20px;
        }
      }
    }
  }
}